<h1>Registrations#new</h1>

<form id='registration_user_form' action='/signup' method='post'>
  <label>
    <input type='text' name='email' />
  </label>
  <label>
    <input type='password' name='password' />
  </label>

  <button class='submit'>Register</button>
</form>
